[submodule "mods/luanti-master/games/Industrial-Survival/mods/3d_armor"]
	path = mods/luanti-master/games/Industrial-Survival/mods/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "mods/fakelib"]
	path = mods/fakelib
	url = https://github.com/OgelGames/fakelib.git
[submodule "mods/animalworld"]
	path = mods/animalworld
	url = https://github.com/Skandarella/animalworld.git
[submodule "mods/animalworld-main"]
	path = mods/animalworld-main
	url = https://github.com/Skandarella/animalworld.git
[submodule "mods/mobs"]
	path = mods/mobs
	url = https://codeberg.org/tenplus1/mobs_redo.git
[submodule "mods/beds"]
	path = mods/beds
	url = https://github.com/minetest-game/beds.git
[submodule "mods/default"]
	path = mods/default
	url = https://github.com/minetest-game/default.git
[submodule "mods/tnt"]
	path = mods/tnt
	url = https://github.com/minetest-game/tnt.git
[submodule "mods/fire"]
	path = mods/fire
	url = https://github.com/minetest-game/fire.git
[submodule "mods/doors"]
	path = mods/doors
	url = https://github.com/minetest-game/doors.git
[submodule "mods/stairs"]
	path = mods/stairs
	url = https://github.com/minetest-game/stairs.git
[submodule "mods/keys"]
	path = mods/keys
	url = https://github.com/minetest-game/keys.git
[submodule "mods/screwdriver"]
	path = mods/screwdriver
	url = https://github.com/minetest-game/screwdriver.git
[submodule "mods/flowers"]
	path = mods/flowers
	url = https://github.com/minetest-game/flowers.git
[submodule "mods/farming"]
	path = mods/farming
	url = https://github.com/minetest-game/farming.git
[submodule "mods/bucket"]
	path = mods/bucket
	url = https://github.com/minetest-game/bucket.git
